/*********************TAG SELECTORS*****************/
body {
    background-color: #d8d8d8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

hr {
    background-color: #f8c3c3 !important;
    border-style: solid !important;
    border: 1px solid black;
    height: 4px !important;
}


h1 {
    border: 1px;
    color: #f8c3c3;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    border: 1px;
    color: #f8c3c3;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
    border: 1px;
    color: #fddb75;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a{
    font-weight: bold;
}

a:link{
    color: #a73694
}

a:visited{
    color: #642059
}

a:focus {
    border-style: dotted;
    border-width: 2px;
}


/* ------------ Entire Page ---------------*/
.center-items {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.center-items-device {
    margin: auto;
    width: 90%;
    /* padding: 10px; */
}

.my-separator {
    background-color: #d8c0c0;
    border-style: solid;
    height: 2px;
}

/* ------------ Introductory Section ---------------*/
#myImage {
    /* size */
    height: 100%;
    width: 100%;

    /* position */
    object-fit: contain;

    /* initial expression */
    transition: transform .4s;
}

#myImage:hover {
    /* expression */
    transition: transform .4s;
    transform: scale(0.9);
}


/* ------------ Education and Plublications Section ---------------*/
.education-logo {
    cursor: pointer;
    height: 100px
}



/* ----------- HIGHCHARTS ---------- */
.highcharts-label-box.highcharts-data-label-box{
    fill: #ffffff00;
}

#blue{
    width: 100%;
}



/* ------------ MOVING BANNER ---------- */
@keyframes bannermove {
    /* from {
      transform: translateX(-100%);
    } */
    to {
      transform: translateX(calc(-100% - 2rem));
    }
  }

.banner-holder {
    max-width: 65%;
    gap: 2rem;
    /* margin: 10px auto; */
    /* position: relative; */
    /* background: white; */
    display: flex;
}

.banner-holder[animated=true]{
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 10%,
        white 40%,
        transparent
    );
    mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
}

.cert-banner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.banner-holder[animated=true] .cert-banner{
    width: fit-content;
    flex-wrap: nowrap;
    animation: bannermove 15s linear infinite;
}

.banner-holder[animated=true]:hover .cert-banner{
    animation-play-state: paused;
}


.cert-banner-cert {
    height: 20vh;
    width: auto;
}

.cert-banner-cert:hover {
    transition: transform .4s;
    transform: scale(1.3);
    cursor: pointer;
}

