/* ------------ Skills Network ---------------*/
.highlight {
    border: 1px solid black;
    border-radius: 15%;
}

#blue.highlight {
    background-color: rgb(188, 204, 212);
}
#green.highlight {
    background-color: rgb(188, 212, 194);
}
#red.highlight {
    background-color: rgb(212, 196, 188);
}
#yellow.highlight {
    background-color: rgb(212, 212, 188);
}