/******************** VARIABLES ********************/
:root {
    --primary-color-1: #424769;
    --secondary-color-1: #969bc0;

    --primary-color-2: #4F6F52;
    --secondary-color-2: #95b799;

    --primary-color-3: #E7B10A;
    --secondary-color-3: #e5dbbd;

    --primary-color-4: #9A3B3B;
    --secondary-color-4: #da9f9f;

    --default-color-1: #d5d5d5;
    --default-color-2: #5a5a5a;
  }


#test1 {
    background-color: var(--primary-color-1);
    color: var(--secondary-color-1);
}
#test2 {
    background-color: var(--primary-color-2);
    color: var(--secondary-color-2);
}
#test3 {
    background-color: var(--primary-color-3);
    color: var(--secondary-color-3);
}
#test4 {
    background-color: var(--primary-color-4);
    color: var(--secondary-color-4);
}

/*********************TAG SELECTORS*****************/
body {
    background-color: var(--default-color-1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    background-color: var(--primary-color-4) !important;
    border-style: solid !important;
    border: 1px solid black;
    height: 4px !important;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


h1 {
    border: 1px;
    color: var(--primary-color-3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    text-align: center;
}

h2 {
    border: 1px;
    color: var(--primary-color-4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
    font-size: 2.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 1px;
    color: var(--primary-color-2);
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

a{
    font-weight: bold;
}

a:link{
    color: var(--primary-color-2)
}

a:visited{
    color: var(--secondary-color-2)
}

a:focus {
    border-style: dotted;
    border-width: 2px;
}



#dom-body.mobile {
    font-size: 0.8em;
}

#dom-body.mobile h3 {
    font-size: 1.8em;
}

#dom-body.mobile #hobbySection h5 {
    font-size: 1.2em;
}

#dom-body.mobile #hobbySection p {
    font-size: 0.6em;
}


/* ------------ Entire Page ---------------*/
.center-items {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.center-items-device {
    margin: auto;
    width: 90%;
    /* padding: 10px; */
}

.my-separator {
    background-color: var(--primary-color-1);
    border-style: solid;
    height: 2px;
}

/* ------------ Introductory Section ---------------*/
#myName {
    font-size: 2.8rem;
    border: 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

#myName.mobile {
    font-size: 1.5rem;
}

#myImage {
    /* size */
    height: 100%;
    width: 100%;
    text-align: center;

    /* position */
    object-fit: contain;

    /* initial expression */
    transition: transform .4s;
}

#myImage:hover {
    /* expression */
    transition: transform .4s;
    transform: scale(0.9);
}

#intro-separator {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

/* ------------ Project Section ------------ */
.project-badge {
    background-color: var(--primary-color-1);
    font-weight: normal;
    text-shadow: none;
    font-size: 0.7em;
    border: 1px solid black;
    color: var(--default-color-1);
}

.project-text {
    font-size: 0.8em;
}

/* ------------ Education and Plublications Section ---------------*/
.education-logo {
    cursor: pointer;
    height: 100px;

}

.education-logo-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#udemy-course-preview {
    border: 1px solid var(--default-color-2);
    border-radius: 15px;
    box-shadow: 5px 5px 20px 4px var(--default-color-2);
}


/* ----------- HIGHCHARTS ---------- */
.highcharts-label-box.highcharts-data-label-box{
    fill: #ffffff00;
}


/* ------------ MOVING BANNER ---------- */
@keyframes bannermove {
    /* from {
      transform: translateX(-100%);
    } */
    to {
      transform: translateX(calc(-100% - 2rem));
    }
  }

.banner-holder {
    max-width: 65%;
    gap: 2rem;
    /* margin: 10px auto; */
    /* position: relative; */
    /* background: white; */
    display: flex;
}

.banner-holder[animated=true]{
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 10%,
        white 40%,
        transparent
    );
    mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
}

.cert-banner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.banner-holder[animated=true] .cert-banner{
    width: fit-content;
    flex-wrap: nowrap;
    animation: bannermove 20s linear infinite;
}

.banner-holder[animated=true]:hover .cert-banner{
    animation-play-state: paused;
}


.cert-banner-cert {
    height: 25vh;
    width: auto;
}

.cert-banner-cert:hover {
    transition: transform .4s;
    transform: scale(1.3);
    cursor: pointer;
}

