/* classes for entire page */
.project-section {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.pad-top-bottom {
    padding-top: 2%;
    padding-bottom: 2%;
}

.flex-dead-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-top {
    display: flex;
    justify-content: center;
    align-items: top;
}

.flex-left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.flex-right {
    display: flex;
    justify-content: right;
    align-items: center;
}


/* Background */
#page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.out-top {
    animation: rotate 20s linear infinite;
    transform-origin: 13px 25px;
}
.in-top {
    animation: rotate 10s linear infinite;
    transform-origin: 13px 25px;
}
.out-bottom {
    animation: rotate 25s linear infinite;
    transform-origin: 84px 93px;
}
.in-bottom {
    animation: rotate 15s linear infinite;
    transform-origin: 84px 93px;
}

figcaption {
    text-align: center;
}



/* section by section */
#title-section {
    padding-top: 1%;
    text-align: center;
    width: 60%;
}

/* --- training image preparation */
#rgb-cluster {
    max-width: 90%;
    height: auto;
    transition: filter 0.5s;
}

#rgb-cluster.gray-scale  {
    filter: grayscale(100%)
}

#rgb-cluster img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 3px solid black;
    border-radius: 5%;
}

/* --- results */
.image-border {
    display: block;
    max-width: 100%;
    max-height: auto;
    border: 3px solid black;
    border-radius: 10%;
}

